{% load static %}
<!-- js placed at the end of the document so the pages load faster -->
<script src="{% static 'plugins/jquery/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/jquery/jquery.nicescroll.js' %}"></script>
<script src="{% static 'plugins/jquery/jquery.dcjqaccordion.2.7.js' %}"></script>
<script src="{% static 'plugins/jquery/jquery.scrollTo.min.js' %}"></script>
<!-- <script src="{% static 'assets/js/jquery.ui.touch-punch.min.js' %}"></script> -->

<!--common script for all pages-->
<script src="{% static 'assets/js/common-scripts.js' %}"></script>