{% load static %}
<!-- js placed at the end of the document so the pages load faster -->
<script src="{% static 'plugins/jquery/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/jquery/jquery.nicescroll.js' %}"></script>
<script src="{% static 'plugins/jquery/jquery.dcjqaccordion.2.7.js' %}"></script>
<script src="{% static 'plugins/jquery/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'plugins/moment/moment.min.js' %}"></script>
<!-- <script src="{% static 'assets/js/jquery.ui.touch-punch.min.js' %}"></script> -->

<!--common script for all pages-->
<script src="{% static 'assets/js/common-scripts.js' %}"></script>
<!--scripts for notifications-->
<script src="{% static 'plugins/bootstrap-notify/bootstrap-notify.min.js' %}"></script>
<script src="{% static 'plugins/socket.io/socket.io.js' %}"></script>

<script type="text/javascript">
	moment.locale('es');
	var port = '8002'	

	var socket = io.connect('//' + window.location.hostname + ':' + port);

	socket.on('data', function () {
		$.get('/autenticacion/perfil/alguien/', function (data) {			
			socket.emit('data', data);			
		})
	})

	socket.on('count', function (data) {		
		var $count = $('#notificaciones');
		var count = parseInt($count.text());		
		count += 1;
		$('.notificaciones').text(count);
		if ($count.hasClass('hide')) $count.removeClass('hide');

		var url = '/notificaciones/notificacion/' + data.id + '/';
		$.get(url, function (data) {
			var notificacion = data.data
			var $li = $('.notificacion.hide');
			var $notificacion = $li.clone().removeClass('hide').removeClass('notificacion');
			$notificacion.find('a').attr('href', notificacion.url);
			$notificacion.find('.from').text(notificacion.usuario)
			$notificacion.find('.message').text(notificacion.mensaje)
			$notificacion.insertAfter($li);
			$.notify({			
				message: notificacion.mensaje
			},{
				// settings
				type: 'success'
			});			
		});
	});

	socket.on('chat', function (data) {		
		$.notify({			
			message: data.remitente.nombre + ' te ha enviado un mensaje.'
		},{
			// settings
			type: 'success'
		});
	});		
</script>