{% load static %}
<!--sidebar start-->
<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
        	<p class="centered">
                <a href="{% url 'perfil' user.username %}">
                    {% if user.perfil.imagen %}
                    <img src="{{ user.perfil.image.url }}" class="img-circle" width="60">
                    {% else %}
                    <img src="{% static 'assets/img/default-user.png' %}" class="img-circle" width="60">
                    {% endif %}
                </a>
                
            </p>
        	<h5 class="centered">{{ user.get_full_name }}</h5>            
            <li class="mt">            
                <a {% if request.path == '/' %} class="active" {% endif %} href="/">
                    <i class="fa fa-home"></i>
                    <span>Home</span>
                </a>
            </li>
            {% if user.is_staff %}
            <li class="sub-menu">
                <a href="/admin/" >
                    <i class="fa fa-cog"></i>
                    <span>Administración</span>
                </a>              
            </li>
            {% endif %}

            {% if user.perfil.gestiona_pedidos %}
            <li class="sub-menu">
                <a {% if 'inventario' in request.path %} class="active" {% endif %} href="#" >
                    <i class="fa fa-building"></i>
                    <span>Inventario</span>
                </a>
                <ul class="sub">
                    <li {% if 'categoria' in request.path %} class="active" {% endif %}>
                        <a href="{% url 'categorias' %}">Categorías</a>
                    </li>
                    <li {% if 'producto' in request.path %} class="active" {% endif %}>
                        <a href="{% url 'productos' %}">Productos</a>
                    </li>
                </ul>
            </li>
            {% endif %}

            <li class="sub-menu">
                <a {% if 'requisiciones' in request.path %} class="active" {% endif %} href="#" >
                    <i class="fa fa-heart"></i>
                    <span>Requisiciones</span>
                </a>
                {% if user.perfil.gestiona_pedidos %}
                <ul class="sub">                    
                    <li {% if 'lugar' in request.path %} class="active" {% endif %}>
                        <a href="{% url 'lugares' %}">Lugares</a>
                    </li>                    
                </ul>
                {% endif %}
                <ul class="sub">                    
                    <li {% if 'pedido' in request.path %} class="active" {% endif %}>
                        <a href="{% url 'pedidos' %}">Pedidos</a>
                    </li>                    
                </ul>
            </li>
            <li class="sub-menu">
                <a {% if 'autenticacion' in request.path %} class="active" {% endif %} href="#" >
                    <i class="fa fa-user"></i>
                    <span>Cuenta</span>
                </a>
                <ul class="sub">
                    <li {% if 'perfil' in request.path %} class="active" {% endif %}>
                        <a href="{% url 'perfil' user.username %}">Mi perfil</a>
                    </li>
                    <li {% if 'password' in request.path %} class="active" {% endif %}>
                        <a href="{% url 'cambiar-password' %}">Cambiar contraseña</a>
                    </li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="{% url 'salir' %}" >
                    <i class="fa fa-sign-out"></i>
                    <span>Salir</span>
                </a>              
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->