{% extends 'base.html' %}
{% load ui_components %}

{% block content %}
<h3><i class="fa fa-angle-right"></i> Mis pedidos</h3>

<div class="row mt">
	<div class="col-lg-12">
	    <div class="content-panel">
	    	<!-- Encabezado -->
		    <div class="content-panel-header">
		        <h4>
		          	<i class="fa fa-angle-right"></i>
		          	Listado
		        </h4>
		        <a href="{% url 'crear_pedido' %}" class="btn btn-sm btn-primary pull-right col-xs-2">
		          	<i class="fa fa-plus-circle"></i> Agregar
		        </a>
		    </div>
		    <!-- Fin de encabezado -->

	    	{% table for object_list %}                
                {% theaders 'Usuario' 'Fecha' 'Estado' 'Observación' %}
                {% tfields usuario.get_full_name fecha estado observacion %}
            {% endtable %}	      
	    </div>
	</div>
</div>
{% endblock%}