{% extends 'base.html' %}
{% load static %}
{% load ui_components %}

{% block content %}
<h3>
    <i class="fa fa-angle-right"></i> Pedidos
</h3>
<div class="row mt">
    <div class="col-lg-12">
        <div class="content-panel">
            <div class="content-panel-header">
                <h4>                    
                    <i class="fa fa-angle-right"></i>
                    Pedido <span class="label label-info">#{{ object.id }}</span>                    
                    de <span class="label label-warning">{{ object.usuario.get_full_name }}</span>
                    <i class="fa fa-angle-right"></i>
                    {{ object.get_estado }}
                </h4>
                {% include 'requisiciones/partials/opciones_pedido.html' with pedido=object %}                
            </div>

            {% ui_table linea in object.lineapedido_set.all %}               
                {{ 'Cantidad pedida' }} {{ 'Producto' }}
                {% if user.perfil.gestiona_pedidos %} {{ 'Existensias' }} {% endif %}
                {% if linea.cantidad_recibida %}
                {{ 'Cantidad enviada' }}
                {% endif %}                
            {% body %}
                {{ linea.cantidad_pedida }} {{ linea.producto }}                
                {% if user.perfil.gestiona_pedidos %} {{ linea.producto.stock }}  {% endif %}
                {% if linea.cantidad_recibida %}
                {{ linea.cantidad_recibida }} 
                {% endif %}                
            {% endui_table %}
            <p><strong>Entregar en:</strong> {{ object.lugar }}</p>
            <p><strong>Nota:</strong> {{ object.nota }}</p>
        </div>
    </div>
</div>
{% include 'requisiciones/modals/gestion_pedido_modal.html' %}
{% endblock%}
{% block js %}
<script type="text/javascript">
    $(function () {
        $('#btn-procesar').on('click', function(e) {
            e.preventDefault();
            var url = $(this).attr('href');
            $('#form').attr('action', url);
            $('button.negar').hide();
            $('button.procesar').show();
            $('#gestion_modal').modal('show');
        });
        $('#btn-negar').on('click', function(e) {
            e.preventDefault();
            var url = $(this).attr('href');
            $('#form').attr('action', url);
            $('button.procesar').hide();
            $('button.negar').show();
            $('#gestion_modal').modal('show');
        });
    });
</script>
{% endblock %}
