{% load i18n %}
{% if paginator.num_pages > 1 %}
<div class="row">
    <div class="col-xs-12">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li>
                <a href="?{{ page_obj.previous_page_number.querystring }}">&laquo;</a>
            </li>
            {% else %}
            <li class="disabled"><span>&laquo;</span></li>
            {% endif %}

            {% for page in page_obj.pages %}
                {% if page %}
                    {% ifequal page page_obj.number %}
                    <li class="active"><span>{{ page }}</span></li>                
                    {% else %}
                    <li>
                        <a href="?{{ page.querystring }}">{{ page }}</a>
                    </li>
                    {% endifequal %}
                {% else %}
                    <li><span>...</span></li>
                {% endif %}
            {% endfor %}

            
            {% if page_obj.has_next %}
            <li>
                <a href="?{{ page_obj.next_page_number.querystring }}">&rsaquo;&rsaquo;</a>
            </li>
            {% else %}
            <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endif %}