{% load widget_tweaks %}
{% load ui_components %}
<form class="form-horizontal" action="" method="POST" enctype="multipart/form-data" novalidate>
    {% csrf_token %}    
    <table class="table table-striped">
        <thead>
            <tr>                        
                <th>Cantidad</th>                        
                <th>Producto</th>            
                <th>Existencias</th>            
                <th>Cantidad a entregar</th>
            </tr>
        </thead>
        <tbody>
            {{ formset.management_form }}
            {% for form in formset %}
            {{ form.id }}                                
            <tr class="inline {{ formset.prefix }}">            
                <td class="col-xs-2">
                    {{ form.instance.cantidad_pedida }}
                </td>
                <td>
                    {{ form.instance.producto }}
                </td>
                <td>
                    {{ form.instance.producto.stock }}
                </td>
                <td>
                    {{ form.cantidad_recibida|add_class:"form-control" }}{{ form.cantidad_recibida.errors }}
                </td>                
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% ui_input form.nota %}

    <button type="submit" class="btn btn-info">
      <i class="fa fa-check"></i> Enviar
    </button>
    
    <a href="{% url 'pedidos' %}" class="btn btn-link">Regresar</button>
</form>


