{% extends 'base.html' %}
{% load ui_components %}

{% block content %}
<h3><i class="fa fa-angle-right"></i> Categorias</h3>

<div class="row mt">
	<div class="col-lg-12">
	    <div class="content-panel">
	    	<!-- Encabezado -->
		    <div class="content-panel-header">
		        <h4>
		          	<i class="fa fa-angle-right"></i>
		          	Listado
		        </h4>
		        <a href="{% url 'crear_categoria' %}" class="btn btn-sm btn-primary pull-right col-xs-2">
		          	<i class="fa fa-plus-circle"></i> Agregar
		        </a>
		    </div>
		    <!-- Fin de encabezado -->
		    {% ui_table obj in object_list %}		    	
		    	{{ 'Nombre' }} {{ 'Detalle' }}
		    {% body %}
		    	{{ obj }}
		    	{% ui_button obj.get_absolute_url 'xs' 'pencil' %}
		    {% endui_table %}	    	
	    </div>
	</div>
</div>
{% endblock%}