{% extends 'base.html' %}
{% load ui_components %}

{% block content %}
<h3><i class="fa fa-angle-right"></i> Productos</h3>

<div class="row mt">
	<div class="col-lg-12">
	    <div class="content-panel">
	    	<!-- Encabezado -->
		    <div class="content-panel-header">
		        <h4>
		          	<i class="fa fa-angle-right"></i>
		          	Listado
		        </h4>
		        <a href="{% url 'crear_producto' %}" class="btn btn-sm btn-primary pull-right">
		          	<i class="fa fa-plus-circle"></i> Agregar
		        </a>
		        {% include 'includes/pagination.html' %}
		    </div>
		    <!-- Fin de encabezado -->
		    {% ui_table obj in object_list %}		    	
		    	{{ 'Categoria' }} {{ 'Nombre' }} {{ 'Existensias' }} {{ 'Opciones' }} {{ 'Detalle' }}
		    {% body %}
		    	{{obj.categoria}} {{ obj.nombre }} 
		    	{% if obj.stock %} {{ obj.stock }} {% else %} {{ 'No definido' }} {% endif %}
		    	{% ui_button obj.id 'xs' 'sign-in' 'entrada_producto' %}
		    	{% ui_button obj 'xs' 'pencil' %}
		    {% endui_table %}
		    {% include 'includes/pagination.html' %}	    	
	    </div>
	</div>
</div>
{% endblock%}