{% extends 'base.html' %}
{% load ui_components %}

{% block content %}
<h3><i class="fa fa-angle-right"></i> Cambio de contraseña</h3>
<div class="row mt">
    <div class="col-lg-12">
        <div class="content-panel">
            <div class="content-panel-header">
                <h4>
                    <i class="fa fa-angle-right"></i>
                    Datos de usuario           
                </h4>        
            </div>          
            <form class="form-horizontal" method="POST" action="" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {% ui_input form.old_password %}
                {% ui_input form.new_password1 %}
                {% ui_input form.new_password2 %}            
                <button type="submit" value="Guardar" class="btn btn-primary">
                    <i class="fa fa-check"></i> Guardar
                </button>
                <a href="{% url 'perfil' user.username %}" class="btn btn-link">Regresar</button>
            </form>
        </div>
    </div>
</div>
{% endblock%}